<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ui.activity.AppsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="landscape"
            android:exported="false"
            android:theme="@style/Theme.Toolbar.Transparent" />
    </application>
</manifest>